/*------------------------------------------ Normal CSS----------------------- */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Inter';
    background: #FFFFFF
}

.bg-sec {
    background: #FFF8F1;
}

.text-center {
    text-align: center;
}

.btn-primary {
    border: none;
    color: #FFFFFF;
    background: #EC6B16;
    border-radius: 8px;
    position: relative;
    top: 47px;
    margin-top: 30px;
    font-weight: 400;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    line-height: 140%;

}

.btn-primary:hover {
    font-weight: 600;
    transition: 0.3s ease-in-out;
    background-color: #000000;
}

.btn-secondary {
    background: transparent;
    color: #ec6b16;
    position: relative;
    top: 47px;
    border-radius: 8px;
    left: 15px;
    cursor: pointer;
}

.btn-secondary:hover {
    font-weight: 600;
    transition: 0.3s ease-in-out;

}

.m-b-140 {
    margin-bottom: 140px;
}

.p-b-140 {
    padding-bottom: 140px;
}

.bg-t {
    background: #FEF9F1;
}

.d-flex {
    display: flex;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 1320px;
    margin: 0 auto;
}



/* ---------------------------Header -----------------------------*/





header {
    background: #FEF9F1;

}

header .logo {
    margin-top: 32px;
}

header .container {
    display: flex;
    justify-content: space-between;
}

header .navigation ul {
    display: flex;
    column-gap: 40px;
}

header .navigation ul li a {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #2B2F3E;
    top: 40px;
    position: relative;
}

header .navigation button {
    border: none;
    background: #EC6B16;
    border-radius: 8px;
    padding: 0 10px;
    height: 42px;
    margin-top: 30px;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    line-height: 140%;
    color: #FFFFFF;
    font-family: 'Inter';
}

header .navigation button:hover {
    font-weight: 600;
    transition: 0.3s ease-in-out;
    background-color: #000000;
}


/* -----------------PopUp---------------------- */


#popup {

    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    position: fixed;
    display: none;
    left: 0;
    top: 0;

    z-index: 20;

    transition: all ease-in .4s;
}

.popup1 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popupbox {
    width: 700px;
    background: #ffffff;
    margin: 0 auto;
    padding: 40px;
    border-radius: 20px;
}


.popup h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 125%;


    text-align: center;
    letter-spacing: 0.1px;

    color: #243141;
    margin-bottom: 50px;

}

.popup input {
    width: 305px;
    border: 1px solid #FED7BD;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 130% */
    padding: 18px 20px;
    margin-bottom: 30px;
    color: rgba(0, 0, 0, 0.6);
}

.popup .btn {
    position: relative;
    left: 32%;
    top: 32%;
    padding: 15px 31px;
}

.popup .cross {
    background: none;
    border: none;
    float: right;
    font-weight: 900;
    cursor: pointer;
    top: -18px;
    position: relative;
    right: -13px;
    font-size: 16px;
}




/* ------------------------------Banner Section ----------------------------- */




.banner {
    background: #FEF9F1;
    padding-top: 61px;
}

.banner .container {
    display: flex;
    justify-content: space-between;
}

.banner .container h6 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: rgba(236, 107, 22, 0.76);
    padding: 10px;
    background: #FFE9CF;
    border-radius: 3px;
    width: 192px;
}

.banner .container h1 {
    font-weight: 600;
    font-size: 42px;
    line-height: 51px;
    color: #000000;
    margin: 10px 0px;
    width: 543px;
}

.banner .container p {
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: #EC6B16;
    margin-bottom: 30px;
}

.banner .container ul li {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #0E0B3D;
    position: relative;
    padding-left: 15px;
    left: 15px;
    padding-bottom: 10px;
}

.banner .container ul li::marker {
    position: absolute;
    content: '✓';
    color: #EC6B16;
}

.banner .container button {
    border: none;
    background: #EC6B16;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    padding: 15px 31px;
    border-radius: 8px;
    cursor: pointer;
}

.banner .container img {
    padding-bottom: 50px;
}





/* ------------------Section 1-------------------------- */






.section1 .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.section1 {

    padding: 40px;
}

.section1 .container p {
    font-weight: 500;
    font-size: 14.7636px;
    line-height: 150%;
    color: #515151;
}






/* ------------------------------------------------------------Section-2------------------------------------------------------ */






/* .section2 {
    background: #F5F5F5;
} */

.section2 .container .card {
    width: 1320px;
    border-radius: 10px;
    background: #FFF8F1;
    border: 1px solid #FFEEE2;
}

.section2 .container h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    color: #0E0B3D;
    padding: 50px 0px;
}

.section2 .container .card .row {
    display: flex;
    column-gap: 48px;
}

.section2 .container h3 {
    font-weight: 600;
    font-size: 40px;
    line-height: 130%;
    align-items: center;
    color: #000000;
}

.section2 .container p {
    font-weight: 400;
    padding-bottom: 80px;
    font-size: 16px;
    line-height: 140%;
    color: #0E0B3D;
    position: relative;
}

.section2 .col {
    width: 285px;
}

.section2 .container .col p::after {
    content: "";
    position: absolute;
    border: 1px solid rgba(236, 107, 22, 0.33);
    width: 101px;
    transform: rotate(90deg);
}











/* -----------------------SLIDER--------------------- */










/* .section3 {
    background: #F5F5F5
} */

.section3 {

    text-align: center;
    display: block;
}

.section3 .container h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.1px;
    color: #000000;
    padding-bottom: 10px;
}

.section3 .container p {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #0E0B3D;
    margin-bottom: 100px;
}

.section3 .container .star {
    display: flex;
    justify-content: center;
}

.section3 .profile {
    display: flex;
    text-align: left;
    position: relative;
    top: -77px;

}


.section3 .name {
    padding-left: 10px;
}

.section3 h6 {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #333030;
}

.section3 .name p {
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: #737B7D;
}





.section3 .container {
    max-width: 1300px;
    width: 100%;
    overflow: hidden;

}


.section3 .container .glide .card {
    margin: 50px;
    height: 307px;
    position: relative;
    cursor: pointer;
    text-align: left;
    width: 375px;
    border: 1px solid #FBCDAE;
    border-radius: 10px;
    padding: 49px 36px 0px 52px;
}


.section3 .container .card:before {
    content: url(../images/quote.png);
    position: relative;
    margin: 0 auto;
    top: -70px;
    left: -17px;

}

.section3 .container .star img {
    padding-left: 5px;
}

.section3 .container .glide .card .profile .pic img {
    width: 41px;
}







/* 
ul .glide__slides li .glide__slide .card:before {
    content: "";
    width: 40px;
    height: 40px;
    background: url(/Invoicera/assets/images/quote.png) no-repeat;
    position: absolute;
    left: 2px;
    top: 5px;
    background-position: -36px ;
} */


.section3 .container .card:hover {
    border: 1px solid #FF9D3C;
}


.section3 .container .glide .card p {
    text-align: left;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    color: #333030;
}

.section3 .container .glide .card img {
    padding-bottom: 6px;
}

.glide__bullet {
    background-color: #FFE6CD;
    width: 7px;
    height: 7px;
    padding: 0;
    border-radius: 50%;
    border: 2px solid transparent;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    cursor: pointer;
    margin-right: 12px;
    margin-bottom: 60px;
}

.glide__bullet--active {
    background-color: #F88601;
}


.section3 .container .OR {

    position: relative;
    top: -4px;
    left: 13px;

}

.section3 .btn {
    margin: 60px;
    width: 156px;
    height: 52px;
    background: #EC6B16;
    border-radius: 8px;
    border: none;
    margin-top: 40px;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
}

.section3 a {
    top: -23px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-decoration-line: underline;
    color: #EC6B16;
    margin-left: 10px;
}








/* --------------------Selection Page------------------------------------ */





/* .selection {
    background: #F5F5F5;
} */

.selection h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.1px;
    color: #243141;
    margin-top: 106px;
}

.selection p {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #0E0B3D;
    margin-bottom: 60px;
}

.selection #card {

    background: #FFF8F1;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding-left: 64px;
    padding-right: 86px;
}

.selection #card1 {
    height: 533px;
    background: #fff8f1;
    border-radius: 10px;
    display: none;
    justify-content: space-between;
    padding-left: 110px;
    padding-right: 70px;
}

.selection .tab img {
    width: 747px;
    position: relative;
    right: 144px;
    padding: 51px;

}

.selection #card .text {
    position: relative;
    left: 47px;
}

.selection #card2 {
    height: 533px;
    background: #fff8f1;
    border-radius: 10px;
    display: none;
    justify-content: space-between;
    padding-left: 110px;
    padding-right: 70px;
}

.selection #card3 {
    height: 533px;
    background: #fff8f1;
    border-radius: 10px;
    display: none;
    justify-content: space-between;
    padding-left: 110px;
    padding-right: 70px;
}


.selection .text {
    width: 502px;
    padding-top: 127px;
}

.selection .text h5 {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #243141;
    margin-bottom: 5px;
}

.selection .text p {
    font-weight: 400;
    text-align: left;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 150%;
    color: #4E5062;
}

.selection .text ul li {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #4E5062;
    position: relative;
    padding-left: 15px;
    padding-bottom: 13px;
    left: 15px;
}

.selection .text ul li::marker {
    position: absolute;
    content: '✓';
    color: #EC6B16;
}

.selection .img {
    width: 552px;
    border-radius: 19px;
    margin-top: 60px;
    height: 424px;
}


.selection .navigation ul {
    display: flex;
    padding: 0px 120px;
    justify-content: space-between;
}

.selection .navigation ul li {
    font-weight: 500;
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    padding: 0px 20px;
}

.selection .navigation #img {
    position: relative;
    top: 23px;
    right: 75px;
}

.selection .navigation #imgs {
    position: relative;
    top: 23px;
    right: 126px;
}

.selection .navigation ul li:hover {
    background-color: #FFF8F1;
    border-radius: 17px 17px 0px 0px;
    cursor: pointer;
}

/* .selection .navigation ul li::selection {
    background-color: #FFF8F1;
} */

.selection .navigation ul li button {
    color: #282A30;
    border: none;
    background: transparent;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    padding: 10px 11px 5px;
    right: -17px;
    cursor: pointer;
    top: -14px;
    position: relative;
}













/* ---------------------------------Billing benefits Page----------------------- */



.billing {
    padding: 140px 0px 112px;
    background-color: #FFF8F1;
    margin: 120px 0;

}

.billing h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.1px;
    color: #243141;

}

.billing p {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #0E0B3D;
    margin-bottom: 100px;
}

.billing .row {
    display: flex;
    column-gap: 20px;
    margin-bottom: 20px;
}

.billing .col {
    width: 429px;
    height: 374px;
    border: 1px solid #FCDBBB;
    align-items: center;
    padding: 50px 33px;
    filter: drop-shadow(0px 4px 10px rgba(245, 245, 245, 0.57));
    border-radius: 10px;
    cursor: pointer;
}

.billing .col h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #243141;
    margin-bottom: 5px;
}

.billing .col p {
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: #6C6F93;
}

.billing button {
    width: 156px;
    height: 52px;
    background: #EC6B16;
    border-radius: 8px;
    border: none;
    margin-top: 40px;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
}

.billing a {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-decoration-line: underline;
    color: #EC6B16;
    margin-left: 3px;
    top: 15px;

}

.billing .col:hover {
    border: 1px solid #FF9D3C;
}

.billing .OR {
    position: relative;
    top: 33px;
    left: 9px;
}







/*-------------------------------------------------- INVOICE------------------------------------ */


/*----------------------------------- Main Div Invoice-------------------------------- */


.invoice {
    height: 1131px;
}

.invoice h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.1px;
    color: #243141;
    padding-bottom: 10px;
}

.invoice p {
    font-size: 18px;
    line-height: 150%;
    align-items: center;
    color: #0E0B3D;
}

.invoice .image {
    height: 699px;
    background-position: center;
    margin-top: 64px;
    position: relative;
    top: -117px;
}

.invoice .image img {
    margin-top: 78px;
}





/* -----------------Invoicing Part Div--------------------- */




.invoicing {
    height: 809px;
    background: #FFF8F1;
    padding: 140px 0px;
    display: block;
}

.invoicing h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.1px;
    color: #243141;
    padding-bottom: 10px;
}

.invoicing p {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #0E0B3D;
    margin-bottom: 100px;
}

.invoicing .card {
    height: 172px;
    width: 1320px;
    filter: drop-shadow(0px 4px 10px rgba(245, 245, 245, 0.57));
}

.invoicing .row {
    display: flex;
}

.invoicing .square {
    height: 175px;
    width: 220px;
    align-items: center;
    border: 1px solid #EC6B16;
    padding-top: 48px;

}

.invoicing .squares {
    height: 175px;
    width: 220px;
    align-items: center;
    border: 1px solid #EC6B16;
    padding-top: 48px;
    border-top: none;

}

.invoicing .square:not(:first-child) {
    margin-left: -1px;


}

.invoicing .squares:not(:first-child) {
    margin-left: -1px;


}





/* -------------------------------FormSection--------------------------- */






/* .form {
    background-color: #F5F5F5;
    ;
} */

.form h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.1px;
    color: #243141;
}

.myform {
    min-width: 1076px;
    padding: 55px 60px;
    min-height: 553px;
    border: 1px solid #FFF8F1;
    background: #FFF8F1;
    border-radius: 32px;
    margin: 92px 182px 178px 182px;

}

.form .container .myform p {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #0E0B3D;
    margin-bottom: 40px;
}

.form .container .myform input {
    width: 301px;
    height: 55px;
    border: 1px solid #FED7BD;
    border-radius: 10px;
    padding: 18px 20px;
    margin-bottom: 20px;
}

.form .container .myform textarea {
    width: 955px;
    height: 159px;
    padding: 18px 20px;
    border: 1px solid #FED7BD;
    border-radius: 10px;
    resize: none;
    font-family: 'Inter';
}

.form a {
    border: none;
    background: #EC6B16;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    padding: 15px 31px;
    border-radius: 8px;
    cursor: pointer;
    margin: 40px 0px;
}

.formerror {
    font-size: 12px !important;
    color: red !important;
}










/* --------------Footer-------------------------- */








footer {
    height: 38px;
    background-color: #EC6B16;
    align-items: center;
}

footer p {
    position: relative;
    left: 62px;
    font-weight: 400;
    padding: 10px 0px 11px;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}



/* -----------------For Screen Size 1280px(Nest Hub Max)- 1030px(Nest Hub)--------------------------- */







@media screen and (max-width:1280px) and (min-width:1030px) {
    .container {
        width: 960px;
        margin: 0 60px;
    }

    .header {
        width: 980px;
    }

    .banner .container h1 {
        font-size: 25px;
    }

    .banner .container .text {
        width: 410px;
        position: relative;
    }

    .banner .container .frame {
        width: 573px;
        padding-top: 130px;
    }




    .section1 .container p {
        font-size: 10px;
    }

    .section1 .container img {
        width: 783px;
    }



    .section2 .container .card {
        width: 960px;
        height: 256px;
    }

    .section2 .container h3 {
        font-size: 30px;
    }

    .section2 .container p {
        font-size: 12x;
    }

    .section2 .container .col p::after {
        width: 109px;
    }

    .section3 .container h3 {
        font-size: 32px;
    }



    .selection h2 {
        font-size: 32px;
    }

    .selection p {
        font-size: 16px;
        margin-bottom: 70px;
    }

    .selection .navigation ul li {
        font-size: 12px;
    }

    .selection .navigation ul {
        padding: 0px;
    }

    .selection .navigation ul {
        padding-left: 32px;
        padding-right: 20px;
    }

    .selection .card {
        padding-left: 35px;
        padding-right: 16px;
    }


    .billing h2 {
        font-size: 32px;
    }

    .billing p {
        font-size: 16px;
    }

    .billing .col h3 {
        font-size: 16px;
    }

    .billing .col p {
        font-size: 12px;
    }

    .billing .col {
        height: 300px;
    }


    .invoice h2 {
        font-size: 30px;
    }

    .invoice p {
        font-size: 14px;
    }

    .invoice .container .image img {
        width: 936px;
    }

    .invoice .container .image {
        height: 644px;
    }

    .invoice {
        height: 940px;
    }


    .invoicing h2 {
        font-size: 32px;
    }

    .invoicing p {
        font-size: 14px;
    }

    .invoicing .square {
        height: 148px;
        width: 161px;
    }

    .invoicing {
        height: 746px;
    }

    .myform {
        min-width: 946px;
        right: 163px;
        position: relative;
    }

    .form .container .myform input {
        width: 256px;
    }

    .form .container .myform textarea {
        width: 822px;
    }

    .form button {
        padding: 12px 30px;
    }

}










/*------------------------------------ For Screen size max =768px(i-Pad mini)-------------------------------- */


@media only screen and (max-width: 768px) {


    .banner .container h1 {
        font-weight: 600;
        font-size: 22px;
        line-height: 38px;
        color: #000000;
        margin: 10px 0px;

    }

    .banner .container p {
        font-weight: 400;
        font-size: 12px;
        line-height: 120%;
    }

    .logo img {
        width: 175px;
        top: 41px;
        padding-left: 60px;
        position: absolute;
    }

    .container .text {
        margin-left: 60px;
    }

    .banner .container ul li {
        font-size: 10px;
    }

    header .navigation ul li a {
        font-size: 11px;
        position: relative;
        left: 30px;

    }

    header .navigation button {

        width: 88px;
        height: 38px;
        font-size: 12px;
        position: relative;
        right: -25px;
    }

    .btn-primary {
        padding: 15px;
        font-size: 12px;
    }

    .btn-secondary {
        font-size: 10px;
    }

    .frame {
        width: 320px;
        right: 265px;
        top: 73px;
        position: relative;
    }

    .banner .container {
        height: 475px;
        display: flex;
        justify-content: space-between;

    }

    .banner .container h6 {
        width: 155px;
        font-size: 12px;
    }

    .container {
        width: 648px;
        margin: 0 60px;
    }

    header {
        width: 768px;
    }





    .section1 .container p {
        font-size: 10px;
    }

    .section1 .container img {
        width: 510px;
    }










    .section2 {
        margin-top: 50px;
    }


    .section2 .container .card {
        width: 670px;
        height: 190px;
    }

    .section2 .container h4 {
        font-weight: 500;
        font-size: 15px;
        line-height: 100%;
    }

    .section2 .container .card .row {
        display: flex;
        column-gap: 20px;
    }

    .section2 .container h3 {
        font-size: 15px;
    }

    .section2 .container .col p {
        font-size: 10px;
    }

    .section2 .container .col1 p {
        left: -26px;
        font-size: 10px;
    }

    .section2 .container .col1 h3 {
        left: -20px;
        position: relative;
    }

    .section2 .container .col p::after {
        width: 58px;
    }











    .section3 {
        height: 555px;
    }

    .section3 .profile {
        top: -18px;
    }

    .section3 .container {
        padding-bottom: 80px;
        margin-top: -70px;
        max-width: 768px;
    }

    .section3 .container h3 {
        font-size: 22px;
    }

    .section3 .container p {
        font-weight: 400;
        font-size: 12px;
        line-height: 120%;
        margin-bottom: 30px;
    }


    .section3 .container .glide .card p {
        font-size: 8px;
    }

    .section3 .container .glide .card .profile .pic img {
        width: 28px;
    }

    .section3 h6 {
        font-size: 10px;
    }

    .section3 .container .glide .card {
        margin: 21px;
        width: 235px;
        height: 236px;
        padding: 47px 27px 0px;
    }


    .section3 .container .card:before {
        left: 10px;
    }


    .section3 a {
        font-size: 10px;
    }












    .selection {
        height: 681px;
    }


    .selection h2 {
        font-size: 21px;
    }

    .selection .img img {
        width: 323px;
    }


    .selection .text h5 {
        font-weight: 600;
        font-size: 16px;
    }

    .selection .text p {
        font-weight: 500;
        text-align: left;
        margin-bottom: 12px;
    }

    .selection .text h5 {
        font-weight: 600;
        position: relative;
        font-size: 16px;
        top: -45px;
        right: 50px;
    }

    .selection .text p {
        position: relative;
        font-size: 11px;
        padding-top: 5px;
        margin-bottom: 25px;
        right: 50px;
        top: -45px;
    }

    .selection .text ul li {
        font-weight: 500;
        font-size: 10px;
        line-height: 215%;
        padding-left: 10px;
        left: -38px;
        top: -55px;
    }


    .selection .navigation ul li {
        font-weight: 500;
        text-decoration: none;
        font-size: 9px;
        line-height: 19px;
        padding: 16px 17px 5px;
    }

    .selection .navigation ul {
        padding: 0px;
    }

    .selection .navigation ul {
        padding-left: 32px;
        padding-right: 20px;
    }

    .selection .card {
        padding-left: 35px;
        padding-right: 16px;
        height: 386px;
    }

    .selection .navigation img {
        width: 15px;
    }







    .billing h2 {
        font-size: 20px;
        position: relative;
        top: -75px;
    }

    .billing p {
        font-size: 14px;
        position: relative;
        top: -70px;
        margin-bottom: 12px;

    }

    .billing .row {
        column-gap: 10px;
        margin-bottom: 10px;
    }

    .billing .col h3 {
        font-size: 12px;

    }

    .billing .col p {
        font-size: 10px;
        position: relative;
        top: 10px;
    }

    .billing .col {
        height: 300px;
    }

    .billing .col img {
        width: 25px;
    }

    .billing a {
        font-size: 12px;
        margin-left: 25px;
    }







    .invoice h2 {
        font-size: 20px;
    }

    .invoice p {
        font-size: 12px;
    }

    .invoice .image img {
        height: 465px;
    }

    .invoice {
        height: 724px;
        padding-top: 70px;
    }






    .invoicing .card {
        width: 768px;
    }

    .invoicing h2 {
        font-size: 24px;
    }

    .invoicing p {
        font-size: 10px;
    }

    .invoicing .square {
        height: 136px;
        width: 108px;
    }

    .invoicing {
        height: 577px;
        padding: 70px 0px;
    }

    .invoicing .square img {
        width: 25px;
    }





    .myform {
        min-width: 625px;
        right: 168px;
        position: relative;
        margin-bottom: 70px;
    }





    .form .container .myform input {
        width: 151px;
    }

    .form .container .myform textarea {
        width: 505px;
    }

    .form h2 {
        font-size: 26px;
        line-height: 30px;
    }


    .form .container .myform p {
        font-size: 14px;
        margin-bottom: 0px;
    }
}




/*--------------------------- Screen Size: 576px-------------------------- */


@media only screen and (max-width: 576px) {

    .btn-primary {
        padding: 12px;
        font-size: 10px;
    }

    .btn-secondary {
        padding: 12px;
    }

    header {
        max-width: 576px;
    }

    header .navigation ul {
        display: flex;
        column-gap: 25px;
        POSITION: RELATIVE;
        LEFT: -175px;
    }

    header .navigation ul li a {
        font-size: 9px;
    }

    header .navigation button {
        width: 70px;
        font-size: 10px;
    }

    .logo img {
        width: 75px;
        padding: 0;
    }

    .banner .container h6 {
        width: 106px;
        font-size: 8px;
    }

    .banner .container h1 {
        font-size: 15px;
        line-height: 24px;
    }

    .banner .container p {
        font-size: 8px;
    }

    .frame {
        width: 280px;
        right: 317px;
        top: 80px;
    }

    .banner .container .text {
        margin-left: 0;
    }




    .section1 .container img {
        width: 400px;
        position: relative;
        left: -150px;
    }

    .section1 .container p {
        font-size: 8px;
        position: relative;
        left: -45px;
    }


    .section2 .container .card {
        width: 480px;
        height: 190px;
    }

    .section2 .container h4 {
        font-weight: 500;
        font-size: 12px;
        line-height: 100%;
    }

    .section2 .col {
        width: 195px;
    }

    .section2 .container .col p {
        font-size: 8px;
    }

    .section2 .container .col p::after {
        width: 32px;
    }

    .section2 .container .col1 p {
        left: -20px;
        font-size: 8px;
    }

    .section2 .container h3 {
        font-size: 11px;
    }



    .section3 .container {
        padding-bottom: 58px;
        margin-top: -140px;
        max-width: 576px;
    }

    .section3 .container h3 {
        font-size: 16px;
    }

    .section3 .container p {
        font-size: 10px;
    }

    .section3 .container .glide .card {
        width: 410px;
        left: 48px;
    }

    .section3 .container p {
        font-weight: 400;
        font-size: 10px;
    }
}